.navb
{
  /* rgb(236, 236, 236); */
  background-color: rgb(236, 236, 236);
  font-size:xx-large;
  font-family: 'Brush Script MT', cursive;
  display: flex;
  justify-content: space-between;
}
.container{ 
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: repeat(1, 1fr);
  grid-row-gap: 10px;
}

.btn{
  font-weight:10;
  border: none;
  background-color:rgb(236, 236, 236) ;
  font-family: monospace;
  font-size: x-large;
  margin-right: 10px;
  cursor: pointer;
}

.cardGrid
{
  display: grid;
  grid-template-columns: repeat(auto-fit,300px);
  grid-template-rows: repeat(2,230px);
  grid-column-gap: 100px;
  margin: 10px;

}
.UserCard {
  width: 50%;
  height: 100%;
}

.loading
{
  font-family:monospace;
  color:rgb(108, 155, 189);
  text-align: center;
  font-size: xx-large;
}

.centreFlex
{
    display: flex;
    justify-content: center;
}